@import 'boot/index.scss';


/*
******************************************************************
* Begin >>>>>
******************************************************************
*/












/*
******************************************************************
* Gridtest Page
******************************************************************
*/

.gridtest-block {
    height: 100vh;

    .heading {
        font-size: 44px;
    }

    @include mq('md') {
        .heading {font-size: 22px;}
        
    }
}







/*
******************************************************************
* <<<<< End
******************************************************************
*/


@import 'boot/_shame.scss';